/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Gugi', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

html {
	background: white;
}

/***** 
Call to Action 
*****/
@keyframes fade-in {
	0% {
		font-size: 0;
		box-shadow: none;
		opacity: 0;
		transform: translate(-500px, 500px)
	}
	25% {
		background: rgba(3, 236, 78, .1);
	}
	50% {
		background: rgba(3, 236, 78, .5);
		transform: translate(100px, -50px);
	}
	75% {
		background: rgba(3, 236, 78, 1);
	}
	100% {
		font-size: 20;
		transform: translate(0, 0);
		opacity: 1;
	}
}

.cta {
	animation: fade-in 1.4s;
}

.cta--about {
	width: 50%;
	margin-top: 200px;
}

/*****
Layout 
*****/
.fixed {
	position: fixed;
	left: 50%;
	width: 1000px;
	margin-left: -500px;
	z-index: 99;
}

.relative {
	position: relative;
	top: 40px;
}

.ib {
	display: inline-block;
}

.row {
	max-width: 1000px;
	margin: 0 auto 40px auto;
}

.col-1-of-2 {
	width: calc((100% - 60px) / 2);
}

.col-1-of-3 {
	width: calc((100% - 2 * 60px) / 3)
}

.col-1-of-4 {
	width: calc((100% - 3 * 60px) / 4);
}

.col-3-of-4 {
	width: calc(3 * ((100% - 3 * 60px) / 4) + 2 * 60px);
}

.col-1-of-2:not(:last-child),
.col-1-of-3:not(:last-child),
.col-1-of-4:not(:last-child),
.col-3-of-4:not(:last-child) {
	margin-right: 55px;
}

.divider {
	height: .1px;
	max-width: 1000px;
	margin-bottom: 40px;	
	border: 0;
	box-shadow: 0 0 0 1px lightslategray;
}

.spacer {
	margin-bottom: 15px;
}

/*****
Buttons
*****/
.btn {
	padding: 5px 15px;
	background: #598bbe;
	border: 1px solid black;
	border-radius: 3px;
	box-shadow: 0 2px 4px rgba(0,0,0, .7);
	cursor: pointer;
}

.btn--green {
	background: #03ec4e;
	text-align: center;
}

.btn:active {
	transform: translateY(2px);
	box-shadow: none;
}

.logo {
	width: 175px;
	height: 40px;
	background: url(/stretch/img/logo.png) no-repeat center center;
	background-size: contain;
	-webkit-filter: invert(1);
	filter: invert(1);
}

/*****
Images
*****/

.hero {
	margin: 80px 0 50px 50px;
	width: 400px;
	height: 400px;
	background-size: cover;
}

.hero--main-page {
	background: url(/stretch/img/header-img.png) no-repeat center center;
}

.middle-img {
	height: 200px;
	width: 100%;
	background: url(/stretch/img/mid-page-accent.jpg) no-repeat center center;
	background-size: cover;
	border-radius: 3px;
}

.round {
	width: 200px;
	height: 200px;
	border-radius: 400px;
}

/*****
Components
*****/

.navbar {
	margin-top: 8px;
	text-align: center;
	vertical-align: top;
}

.navbar-background {
	padding: 10px;
	background: #333741;
	border-radius: 3px;
}

.navbar__links {
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: .8px;
	color: black;
}

.navbar__links:not(:last-child) {
	margin-right: 30px;
}

.header {
	text-align: center;
	vertical-align: top;
}

.header__title {
	margin-top: 150px;
	font-size: 70px;
}

.header__tagline {
	display: inline-block;
	width: 30%;
	margin: 15px;
	padding: 6px 8px;
	border: 1px solid black;
}

.content__title {
	font-size: 30px;
}

.content__textBox {
	font-size: 18px;
	line-height: 1.3;
}

.name {
	font-size: 20px;
	font-weight: bold;
}

.copyright {
	margin-top: 25px;
	text-align: center;
}



/*******************************************/

/*

.about {
	background: url(/stretch/img/about-hero.jpg) no-repeat center center;
}

*/